<div class="container">
  <h1>Plans</h1>
  <div >
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Plan Name</th>
          <th>Plan Description</th>
          <th>Price (in $)</th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <% if @plans.empty? %>
          <tr>
            <td colspan="4">No Plans Yet!</td>
          </tr>
        <% end %>
        <% @plans.each do|plan| %>
          <tr>
            <td><%= plan.name  %></td>
            <td><%= plan.description  %></td>
            <td><%= plan.price %></td>
            <td >
              <% if user_signed_in? %>
                <% if not_subscribed?(plan) %>
                  <%= render partial: 'subscription', locals: {plan: plan} %>
                  <% else %>
                    <%= image_tag "tick.png" %>
                <% end %>
              <% else %>
                <%= render partial: 'subscription', locals: {plan: plan} %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
